<%= form_for(@index_person) do |f| %>
  <% if @index_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@index_person.errors.count, "error") %> prohibited this index_person from being saved:</h2>

      <ul>
      <% @index_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
