<%= image_tag( @image , size: "400x300", alt: "slide") %> 
</br>
likes: <%= @likes %>
</br>
<% nothing = 1 %>
  <%= link_to("Like", "single_image/liking", method: :put) %>
<table>

<% counter = 1
@comm.each do |sing_comm|%>
<tr> <%=  counter %> <%=  ") " + sing_comm.comment %> </tr>
<% counter+= 1 %>
</br>
<% end %>

	
</table>
